#dpBlock {
    min-height: 100px;
}

.tooltip-inner {
    border: solid 1px rgba(0, 0, 0, 0.22)!IMPORTANT;
    background-color: rgb(254, 242, 0)!IMPORTANT;
    color: rgb(134, 76, 0)!IMPORTANT;
    max-width: 320px;
    /* width: 350px; */
    opacity: 1!IMPORTANT;
}

.tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
    border-top-color: rgb(134, 76, 0)!IMPORTANT;
}

.tooltip.bs-tether-element-attached-top .tooltip-arrow {
    border-bottom-color: rgb(134, 76, 0)!IMPORTANT;
}

.tooltip.bs-tether-element-attached-right .tooltip-arrow {
    border-left-color: rgb(134, 76, 0)!IMPORTANT;
}

.tooltip.bs-tether-element-attached-left .tooltip-arrow {
    border-right-color: rgb(134, 76, 0)!IMPORTANT;
}


.container-tool {
    margin-top: 60px;
}

.canvasContainer {
    opacity: 0.4;
    transition: opacity .13s ease-out;
}

.canvasContainer.focusedCanvas {
    opacity: 1;
}

canvas.canvas-sketch {
    display: block;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

.form-transparent {
    background-color: transparent;
    border: none;
    outline: none;
}

.canvas-forms {
    margin-top: 25px;
}

.form-name {
    font-size: 20px;
}

.form-description {
    font-size: 15px;
    line-height: 20px;
    height: 80px;
    resize: none;
}

.img-review {
    display: block;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    margin-bottom: 20px;
}

#tutorialRequest {
    display: none;
}